OnePieceBot/config.py
OnePieceBot/*.session
OnePieceBot/*.session-journal
OnePieceBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
OnePieceBot/modules/helper_funcs/temp.txt
OnePieceBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe